<h2>{{newEventTitle}}</h2>
<form>
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" ng-model="adopter.name" class="form-control" id="title" placeholder="">
    </div>

    <div class="form-group">
        <label for="title">Phone</label>
        <input type="text" ng-model="adopter.phone" class="form-control" id="title" placeholder="">
    </div>

    <div class="form-group">
        <label for="title">Email</label>
        <input type="text" ng-model="adopter.email" class="form-control" id="title" placeholder="">
    </div>

    <div class="form-group">
        <label for="title">Provider (WILL BE DROPDOWN)</label>
        <input type="text" ng-model="event.eventLink" class="form-control" id="title" placeholder="">
    </div>



    <div class="form-group">
            <label for="title">Address</label>
            <input type="text" ng-model="adopter.address" class="form-control" id="title" placeholder="">
    </div>

    <div class="form-group">
            <label for="title">City</label>
            <input type="text" ng-model="adopter.city" class="form-control" id="title" placeholder="">
    </div>

    <div class="form-group">
            <label for="title">State</label>
            <input type="text" ng-model="adopter.state" class="form-control" id="title" placeholder="">
    </div>

    <div class="form-group">
            <label for="title">Zip Code</label>
            <input type="text" ng-model="adopter.zipcode" class="form-control" id="title" placeholder="">
    </div>

    <div class="text-center">
            <button class="btn btn-default" ng-click="consoleToLog()">{{submitButtonText}}</button>
    </div>

        <br>
        <div class="text-center">
                <a ng-href="#!/admin/adopters">Back to List</a>
            </div>
    </form>
    

