<div class="pageTitle">
    <h1>Adopters</h1>
</div>

<div class="row">
    <div class="col-8">
        <input type="search" ng-model="queryEvents" class="form-control " aria-describedby="search" placeholder="Search Providers" autofocus>
    </div>
    <div class="col-4">
            <div class="col-sm">
                   <a ng-href="#!/admin/addAdopter" class="btn btn-primary btn-block add-horse-three"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i><span class="buttonText"> Add an Adopter</span></a> 
              </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody ng-repeat="adopter in allAdoptersData | filter:queryEvents | orderBy: 'begDate'">
        <tr>
            <th scope="row"><a href=""><i ng-click="deleteSingleAdopter(adopter.uid)" class="fa fa-trash-o" aria-hidden="true"></i></a> | <a ng-href="#!/admin/addAdopter/{{adopter.uid}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </th>
            <td>{{adopter.name}}</td>
            <td>{{adopter.phone}}</td>
            <td>{{adopter.email}}</td>
            <td><a ng-href="#!/admin/adopterInfo/{{adopter.id}}">More Details</a></td>
        </tr>
    </tbody>
</table>

</div>