<div class="pageTitle">
    <h1>Service Providers</h1>
</div>

<div class="row">
        <div class="col">
              <center><h3><a ng-href="#!/admin/addServiceProvider"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>Add A Provider</h3></center>  
        </div>
        </div>
<br>

<div class="row">
    <div class="col-8">
        <input type="search" ng-model="queryEvents" class="form-control " aria-describedby="search" placeholder="Search Providers" autofocus>
    </div>
    <div class="col-4">
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody ng-repeat="provider in allServiceProviderData | filter:queryEvents | orderBy: 'begDate'">
        <tr>
            <th scope="row"><a href=""><i ng-click="deleteSingleProvider(provider.id)" class="fa fa-trash-o" aria-hidden="true"></i></a> | <a ng-href="#!/admin/addServiceProvider/{{provider.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </th>
            <td>{{provider.name}}</td>
            <td>{{provider.phone}}</td>
            <td>{{provider.provider_type}}</td>
            <td><a ng-href="#!/admin/ViewSingleServiceProvider/{{provider.id}}">More Details</a></td>
        </tr>
    </tbody>
</table>

</div>